{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}</title>

    <script
            src="https://code.jquery.com/jquery-3.2.1.slim.js"
            integrity="sha256-tA8y0XqiwnpwmOIl3SGAcFl2RvxHjA8qp0+1uCGmRmg="
            crossorigin="anonymous"></script>

    {% block scripts %}
    {% endblock %}
    <link rel="stylesheet" type="text/css" href="{% static 'base/css/bootstrap.css' %}">
    {% block styles %}
    {% endblock %}
</head>
<body>
<div class="navbar-wrapper">
    <div class="navbar-inverse" role="navigation">
        <div class="navbar-header">
            <img src="{% static "base/pict/social/logo.png" %}" alt="ЦРР">
        </div>
        <!-- Nav Starts -->
        <div class="navbar-collapse  collapse">
            <ul class="nav navbar-nav navbar-right">
                <li class="active">
                    <a href="{% url 'tracker' %}">Карта</a>
                </li>
                <li class="active">
                    <a href="{% url 'vue' %}">Vue Карта</a>
                </li>
                <li>
                    <a href="{% url 'delete_page' %}">Удалить позиции</a>
                </li>
                <li>
                    <a href="{% url 'save_page' %}">Добавить позицию</a>
                </li>
                <li>
                    <a href="{% url 'command' %}">Добавить точку следованния</a>
                </li>
            </ul>
        </div>
    </div>

</div>
<!-- #Header Starts -->

<div class="wrapper">
    <div class="container " style="">
        {% block content %}
        {% endblock %}
    </div>
</div>


<footer class="footer" style="background-color: #2a6496">
    <div class="content">
        <div class="row">
            <div class="col-sm-7">
                <img src="{% static "base/pict/social/logo.png" %}" alt="ЦРР">
            </div>

            <div class="col-sm-5">

                <h3 class="pull-right" style="color: whitesmoke; margin-right: 20px">Мы в социальных сетях</h3>
                <br/>
                <br/>
                <div class="social-links">

                    <a class="pull-right" href="https://ok.ru/robocenter" data-toggle="tooltip" data-placement="top"
                       title="Одноклассники"><img
                            src="{% static "base/pict/social/ok.png" %}"></a>

                    <a class="pull-right" href="https://www.instagram.com/robocenter/" data-toggle="tooltip"
                       data-placement="top" title="Instagram"><img
                            src="{% static "base/pict/social/insta.png" %}"></a>

                    <a class="pull-right" href="https://vk.com/robocenter" data-toggle="tooltip"
                       data-placement="top"
                       title="ВКонтакте"><img
                            src="{% static "base/pict/social/vk.png" %}"></a>

                    <a class="pull-right" href="http://facebook.com/robocenter" data-toggle="tooltip"
                       data-placement="top" title="Facebook"><img
                            src="{% static "base/pict/social/fb.png" %}"></a>
                </div>
            </div>
        </div>
    </div>
</footer>
</body>

</html>