{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Vue tracker{% endblock %}

{% block content %}
    <div>
        <form action='{% url 'command' %}' method='post'> {% csrf_token %}
            <select name="choose">
                <option value="0">
                    Добавить точку
                </option>
                <option value="1">
                    Повторить отправку точек всех существующих точек
                </option>
                <option value="2">
                    Удалить все точки из БД
                </option>
            </select>
            <label> longitude</label>
            <input type="number" step="any" name="longitude" value="" id="longitude">
            <label> latitude</label>
            <input type="number" step="any" name="latitude" value="" id="latitude">
            <input type="submit" value="save"/>
        </form>
        <table>
            {% for point in points %}
                <tr>
                    <td>
                        longitude:
                    </td>
                    <td>
                        {{ point.longitude }};
                    </td>
                    <td>
                        latitude:
                    </td>
                    <td>
                        {{ point.latitude }};
                    </td>
                    <td>
                        sended:
                    </td>
                    <td>
                        {{ point.sended }};
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
{% endblock %}


