{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Delete position{% endblock %}

{% block styles %}
{#    <link rel="stylesheet" type="text/css" href="{% static 'tracker/css/main.css' %}">#}

{% endblock %}
{% block content %}
    {{ count }}
    <div class="tracker-wrapper">
        {% if form.errors %}
            <p class="error">Сожалеем, вы неправильно ввели логин или пароль</p>
        {% endif %}
        <h3>Вы точно хотите удалить все записаные позиции?</h3>
        <form action='{% url 'delete_all_location' %}' method='post'> {% csrf_token %}
            <input type="submit" value="Удалить" />
        </form>
    </div>
{% endblock %}

{% block scripts %}
{#    <script type="javascript" src="{% static 'tracker/js/main.js' %}"></script>#}
{% endblock %}