{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}Vue tracker{% endblock %}
{% block styles %}
<link href="{% static 'vue/css/app.485024715f6042bb4f84cee160c7e7ad.css'%}" rel=stylesheet>
{% endblock %}
{% block content %}


    <div id=app>

    </div>
    <script type=text/javascript src="{% static 'vue/js/manifest.44337183465b92a01645.js' %}">
    </script>
    <script type=text/javascript src="{% static 'vue/js/vendor.25879a0f5ddacec704df.js' %}">
    </script>
    <script type=text/javascript src="{% static 'vue/js/app.3419214f7ec52408b53d.js' %}">
    </script>
{% endblock %}


